# Secret API Key for MCP Server auth (Bearer token)
MCP_API_KEY=your_super_secret_api_key_here

# Credentials for the Web UI (KasmVNC VNC server)
VNC_USER=admin
VNC_PASSWORD=your_super_secret_vnc_password_here

# Credentials for CouchDB Database
COUCHDB_USER=admin
COUCHDB_PASSWORD=your_super_secret_couchdb_password_here
